<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>客服管理中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="__TPL__/assets/chat/css/style.css" rel="stylesheet" type="text/css" media="all"/>
</head>
<body class="login-box">
<div class="login">
    <img src="__TPL__/assets/chat/images/logo.png" class="logo">
    <div class="tit">
        <h1>客服管理中心</h1>
    </div>
    <form name="form" onsubmit="return signIn();">
        <div class="login-top">
            <input type="text" name="username" placeholder="用户名">
            <input type="password" name="password" placeholder="密　码">
            <div class="box">
                <input type="text" name="catpcha" placeholder="验证码">
                <img class="catpcha" src="{:U('captcha')}" alt="验证码" width="128" height="38">
            </div>
            <div class="formText">
                <div class="checkbox">
                    <div class="cur">
                        <input type="hidden" value="0" name="remember">
                    </div>
                </div>
                <span class="span">保存信息</span>
            </div>
        </div>
        <div class="login-bottom">
            <input type="submit" value="登录">
            <span class="error"></span>
        </div>
    </form>
</div>
<script src="__TPL__/assets/chat/js/jquery.min.js"></script>
<script>
    $(".checkbox").click(function () {
        if ($(this).hasClass("checked")) {
            $(this).removeClass("checked");
            $('input[name=remember]').val(0);
        } else {
            $(this).addClass("checked");
            $('input[name=remember]').val(1);
        }
    });

    //更新验证码
    $('.catpcha').click(function () {
        $(this).attr('src', '{:U("captcha")}&random=' + Math.random());
    });

    function signIn() {
        //登录
        var username = $('input[name=username]').val();
        var password = $('input[name=password]').val();
        var catpcha = $('input[name=catpcha]').val();
        var remember = $('input[name=remember]').val();

        if (username == '') {
            $('.error').text('用户名不能为空');
            return false;
        }

        if (password == '') {
            $('.error').text('密码不能为空');
            return false;
        }

        if (catpcha == '') {
            $('.error').text('验证码不能为空');
            return false;
        }

        $.ajax({
            url: "{:U('index')}",
            type: "post",
            data: {
                username: username,
                password: password,
                catpcha: catpcha,
                remember: remember
            },
            dataType: 'json',
            success: function (res) {
                if (res.code == 1) {
                    $('.error').text(res.msg);
                    $('.catpcha').click();
                } else if (res.code == 0) {
                    window.location.href = "{:U('admin/index')}";
                }
            }
        });
        return false;
    }
</script>
</body>
</html>
