<!DOCTYPE html>
<html lang=zh-CN>
<head>
    <meta charset=utf-8>
    <title>客服管理</title>
    <meta http-equiv=X-UA-Compatible content="IE=Edge">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" name="viewport">
    <link rel=stylesheet href="//at.alicdn.com/t/font_188277_hycmxbjw7xbhuxr.css">
    <link href="__TPL__/assets/chat/mobile/css/app.de6af2c5d95e843dccf2c1124e1ca64b.css" rel="stylesheet">
    <script>
        window.ROOT_URL = "{$domain}";
    </script>
</head>
<body>
<div id="app"></div>
<script type="text/javascript" src="__TPL__/assets/chat/mobile/js/manifest.js"></script>
<script type="text/javascript" src="__TPL__/assets/chat/mobile/js/vendor.js"></script>
<script type="text/javascript" src="__TPL__/assets/chat/mobile/js/app.js"></script>
</body>
</html>